<div>About Page</div>
<hr>
<div class="details">This site is for people who want shere thair trips. Meybe if you dont want to drive alone on your way back home, or meybe you dont want to go home with the buss but instead with someone else who happens to have a free seat in their car. Or meybe you just
    want to save money by doing with someone else. Or you just want to shere your trip.</div>
<div class="details">All posts right now:{{nOfAllPosts}}</div>
<div class="details">Active posts:{{nOfActivePosts}}</div>