<div class="holder">
    <mat-card class="post">

        <div class="post-content">
            <mat-card-title class="post-title" style="text-align:left;">From [place 1] to [place 2]</mat-card-title>
            <mat-card-content>
                <div class="post-details">Detailsasdadasdsadssssssssssssasdssssssssssssssssssssssssssssssssssssssdjaoisjdijaoisjdajsodjaoijdjasdjjowneuoifnnienbrivpbeirgbiebrgibeirgbiesrbguibseirugbiesbrgisbeuirgbiesrbgisberuigbseirguibdassssssssssssssssssssssssssssssssssssssssssssssss</div>
            </mat-card-content>
            <button mat-stroked-button class="post-contact-button">Contact</button>
            <button mat-stroked-button class="post-comment-button">Comment</button>

        </div>
        <mat-card class="post-poster">
            <mat-card-title class="poster-name" style="text-align:left;">Poster : Ivan Iliev</mat-card-title>
            <mat-card-content class="post=content">
                <div class="poster-details">From: Sofia ,Rating: 4 ,TripsSharedUntilNsssssssdaishdihasuihduiahsuidhaiushdiaisdihiussssssssssssssssssssosssssssssssssssssssssw: 2</div>
                <button mat-stroked-button class="poster-profile-button">View Profile</button>
            </mat-card-content>
        </mat-card>

    </mat-card>
</div>
<div class="holder">
    <mat-card class="post">

        <div class="post-content">
            <mat-card-title class="post-title" style="text-align:left;">From [place 1] to [place 2]</mat-card-title>
            <mat-card-content>
                <div class="post-details">Detailsasdadasdsadssssssssssssasdssssssssssssssssssssssssssssssssssssssdjaoisjdijaoisjdajsodjaoijdjasdjjowneuoifnnienbrivpbeirgbiebrgibeirgbiesrbguibseirugbiesbrgisbeuirgbiesrbgisberuigbseirguibdassssssssssssssssssssssssssssssssssssssssssssssss</div>
            </mat-card-content>
            <button mat-stroked-button class="post-contact-button">Contact</button>
            <button mat-stroked-button class="post-comment-button">Comment</button>

        </div>
        <mat-card class="post-poster">
            <mat-card-title class="poster-name" style="text-align:left;">Poster : Ivan Iliev</mat-card-title>
            <mat-card-content class="post=content">
                <div class="poster-details">From: Sofia ,Rating: 4 ,TripsSharedUntilNsssssssdaishdihasuihduiahsuidhaiushdiaisdihiussssssssssssssssssssosssssssssssssssssssssw: 2</div>
                <button mat-stroked-button class="poster-profile-button">View Profile</button>
            </mat-card-content>
        </mat-card>

    </mat-card>
</div>
<div class="holder">
    <mat-card class="post">

        <div class="post-content">
            <mat-card-title class="post-title" style="text-align:left;">From [place 1] to [place 2]</mat-card-title>
            <mat-card-content>
                <div class="post-details">Detailsasdadasdsadssssssssssssasdssssssssssssssssssssssssssssssssssssssdjaoisjdijaoisjdajsodjaoijdjasdjjowneuoifnnienbrivpbeirgbiebrgibeirgbiesrbguibseirugbiesbrgisbeuirgbiesrbgisberuigbseirguibdassssssssssssssssssssssssssssssssssssssssssssssss</div>
            </mat-card-content>
            <button mat-stroked-button class="post-contact-button">Contact</button>
            <button mat-stroked-button class="post-comment-button">Comment</button>

        </div>
        <mat-card class="post-poster">
            <mat-card-title class="poster-name" style="text-align:left;">Poster : Ivan Iliev</mat-card-title>
            <mat-card-content class="post=content">
                <div class="poster-details">From: Sofia ,Rating: 4 ,TripsSharedUntilNsssssssdaishdihasuihduiahsuidhaiushdiaisdihiussssssssssssssssssssosssssssssssssssssssssw: 2</div>
                <button mat-stroked-button class="poster-profile-button">View Profile</button>
            </mat-card-content>
        </mat-card>

    </mat-card>
</div>
<div class="holder">
    <mat-card class="post">

        <div class="post-content">
            <mat-card-title class="post-title" style="text-align:left;">From [place 1] to [place 2]</mat-card-title>
            <mat-card-content>
                <div class="post-details">Detailsasdadasdsadssssssssssssasdssssssssssssssssssssssssssssssssssssssdjaoisjdijaoisjdajsodjaoijdjasdjjowneuoifnnienbrivpbeirgbiebrgibeirgbiesrbguibseirugbiesbrgisbeuirgbiesrbgisberuigbseirguibdassssssssssssssssssssssssssssssssssssssssssssssss</div>
            </mat-card-content>
            <button mat-stroked-button class="post-contact-button">Contact</button>
            <button mat-stroked-button class="post-comment-button">Comment</button>

        </div>
        <mat-card class="post-poster">
            <mat-card-title class="poster-name" style="text-align:left;">Poster : Ivan Iliev</mat-card-title>
            <mat-card-content class="post=content">
                <div class="poster-details">From: Sofia ,Rating: 4 ,TripsSharedUntilNsssssssdaishdihasuihduiahsuidhaiushdiaisdihiussssssssssssssssssssosssssssssssssssssssssw: 2</div>
                <button mat-stroked-button class="poster-profile-button">View Profile</button>
            </mat-card-content>
        </mat-card>

    </mat-card>
</div>