<mat-card class="profile-form">
    <div *ngIf="userInformation">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{userInformation.name}}</mat-card-title>
            <mat-card-subtitle>From: {{userInformation.city}}</mat-card-subtitle>
            <mat-card-content class="rating-bar-holder">
                Rating:
                <mat-progress-bar class="rating-bar" mode="determinate" value="{{rating}}"></mat-progress-bar>
            </mat-card-content>

        </mat-card-header>
        <button *ngIf="isloggedInUserProfile" mat-stroked-button class="profile-btns">Leave a review about this person.</button>
        <button *ngIf="isloggedInUserProfile" mat-stroked-button class="profile-btns">Contact</button>
        <button *ngIf="isloggedInUserProfile" mat-stroked-button class="profile-btns">Up-vote this person</button>
        <button *ngIf="isloggedInUserProfile" mat-stroked-button class="profile-btns">Down-vote this person</button>
        <button *ngIf="isloggedInUserProfile" mat-stroked-button class="profile-btns">Edit personal information</button>
        <mat-card class="mat-elevation-z12">
            <mat-card-title style="text-align:center;">User posts and comments</mat-card-title>
            <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
                <mat-tab label="Active posts">
                    <app-post *ngFor="let data of activeUserPosts" [data]="data"></app-post>
                </mat-tab>
                <mat-tab label="Nonactive  posts">
                    <app-post *ngFor="let data of nonactiveUserPosts" [data]="data"></app-post>
                </mat-tab>
                <mat-tab label="Reviews">
                    <app-review *ngFor="let data of reviews" [data]="data"></app-review>
                </mat-tab>
            </mat-tab-group>
        </mat-card>

    </div>

</mat-card>